<plugin name='transmart-gwas' version='1.2.2-SNAPSHOT' grailsVersion='2.3.7 &gt; *'>
  <author>David Newton</author>
  <authorEmail>davinewton@deloitte.com</authorEmail>
  <title>tranSMART GWAS Plugin</title>
  <description>\
Plugin to support the display of GWAS data, including eQTL and metabolic GWAS.
</description>
  <documentation>http://grails.org/plugin/transmart-gwas</documentation>
  <type>TransmartGwasGrailsPlugin</type>
  <resources>
    <resource>TransmartGwasUrlMappings</resource>
    <resource>org.transmartproject.gwas.AuditLogFilters</resource>
    <resource>GWASController</resource>
    <resource>com.recomdata.grails.plugin.gwas.GwasSearchController</resource>
    <resource>com.recomdata.grails.plugin.gwas.GwasWebController</resource>
    <resource>com.recomdata.grails.plugin.gwas.UploadDataController</resource>
    <resource>com.recomdata.grails.plugin.gwas.BioAssayAnalysisEqtl</resource>
    <resource>com.recomdata.grails.plugin.gwas.BioAssayAnalysisGwas</resource>
    <resource>com.recomdata.grails.plugin.gwas.RequiredUploadField</resource>
    <resource>com.recomdata.grails.plugin.gwas.DataUploadService</resource>
    <resource>com.recomdata.grails.plugin.gwas.ExperimentService</resource>
    <resource>com.recomdata.grails.plugin.gwas.GwasSearchService</resource>
    <resource>com.recomdata.grails.plugin.gwas.GwasWebService</resource>
    <resource>com.recomdata.grails.plugin.gwas.RegionSearchService</resource>
  </resources>
</plugin>